English is a West Germanic language originating in England, and is the first language for most people in the Anglophone Caribbean, Australia, Canada, New Zealand, Ireland, the United Kingdom, and the United States (sometimes referred to as the Anglosphere). It is used extensively as a second language and as an official language throughout the world, especially in Commonwealth countries and in many international organizations. A native or fluent speaker of English is known as an Anglophone.